*{
	margin: 0;
	padding: 0;
}

#body{
  	background: radial-gradient(at 70% 30%, rgba(0, 0, 50, 0.5), rgba(0,0,26, 1));
    background-attachment: fixed;
   	height: 1000px;
   	overflow-x: hidden;
}


/* Image slider (playercards) */
#carrousel_container{
	position: relative;
	height: 400px;
	width: 100%;
	margin: auto;
	overflow:hidden;

}

/* Navigation Bar */
#container_navigationbar{
  	background-opacity:0.5;
	text-align: center;
	overflow: hidden;
	margin: auto;
  	width: 80%;
  	border-top: 1px black solid;
}

.navbar_item{
	display: inline-block;
  	padding: 16px 16px;
	height: 100%;
 	text-decoration: none;
  	color:black;
}

.navbar_item:hover{
	
  cursor: pointer;
  border: 1px rgba(218,165,32, 1) solid;
  padding: 15px 15px;
}

/* Main content of this webpage */
#information_text{
	width: 80%;
	margin: 10px auto;
	color: white;
}

#participants_div{
	width: 80%;
	height: 500px;
	margin: auto;
}

#participants_table{
	width: 100%;
}

#participants_table th{
	width: 33%;
	font-size: 20px;
	 border-top: black 1px solid;
    border-bottom: black 4px double;
}

#participants_table tr td{
    height: 35px;
	width: 33%;
	text-align: center;
}

#participants_table tr:not(:first-child):hover{
    opacity: 0.8;
    cursor: pointer;
}

#participants_table tr td:nth-child(2){
	text-align: left;
	padding-left: 10px;
} 

#participants_table tr:nth-child(even){
    background-color: rgba(211,211,211, 0.2);
}

#participants_table tr:not(:first-child):nth-child(odd){
      background-color: rgba(211,211,211, 1);
}

#inserted_row:hover{
	background-color:blue;
}

#table_on_inserted_pitch{	
	background: url("other_images/pitch.png") no-repeat;
	background-size: 100% 700px;
	background-position: center;
	margin: auto;
	width: 80%;
	height: 600px;
	table-layout: fixed;
	border-collapse:collapse;
}

.inserted_pitch_table_rows td{
	height: 50px;
}

.inserted_pitch_table_rows td:hover{

}

.test_jersey{
	height: 50px;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
}

.name_under_jersey{
	font-size:10px;
  	height: 10px;
	text-align: center;
	vertical-align: middle;
}

.value_under_jersey{
  font-size:10px;
  height: 10px;
  text-align: center;
  vertical-align: middle;
}

/* This changes the default scrollbar */
::-webkit-scrollbar{
  width: 8px;
  background-color: white;
  border-radius: 10px;

}

::-webkit-scrollbar-button{

}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  height:50px;
  background-color: silver;
  border: 1px #444444 inset;
}